.error-img-wrapper {
  img {
    height: 200px;
  }
}

.error-content {
  text-align: center;

  h4 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;

  }
}
.error-link{
  margin-top: 30px;
  ul{
    li{
      a{

      }
    }
  }
}